##logo图片展示区
<header class="logoPic main-header" style="display:none">
</header>
##左侧导航
<header class="main-header normal">

        ##logo
        <a href="#" class="logo">
            <!-- 小像素 -->
            <span class="logo-mini"><b>档</b></span>
            <!-- 大像素 -->
            <span class="logo-lg"><b>档案管理系统</b></span>
        </a>
        
        ##
        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
				<span class="sr-only">Toggle navigation</span>
            </a>
            ##消息菜单Navbar Right Menu
            <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        
    				###未读信息
					#if(${jdtx})
                    <li class="dropdown messages-menu">
                        <!-- Menu toggle button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        	<i class="fa fa-envelope-o"></i>
                            <span class="label label-success cnt cnt-top"></span>
                        </a>
                        <ul class="dropdown-menu">
                        
       						<li class="header">您有<span class="cnt"></span>条未读信息</li>
    						<li>
								<div class="slimScrollDiv" style="position: relative; overflow: auto; width: auto; height: 200px;">
    								<ul class="menu dagl-msg" style="overflow: auto; width: 100%; height: 200px;">
    								
                       			
                                	</ul>
                                </div>
                            <!-- /.menu -->
                            </li>
    						<li class="footer"><a href="/dagl/notice/jdtx" target="mainIframe">查看全部信息</a></li>
                        </ul>
                    </li><!-- /.messages-menu -->
					#end
					
                    <!-- User Account Menu -->
                    <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        	#if($!{picPath} == "")
								<img src="${rc.contextPath}/resources/img/user.png" class="user-image" alt="User Image">
							#else
								<img src="$!{picPath}" class="user-image" alt="User Image">
							#end
							<span class="hidden-xs">$!{userName}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- The user image in the menu -->
                            <li class="user-header">
	                            #if($!{picPath} == "")
									<img src="${rc.contextPath}/resources/img/user.png" class="img-circle" alt="User Image">
								#else
	                            	<img src="$!{picPath}" class="img-circle" alt="User Image">
								#end
                                <p>
									$!{userName}
                                </p>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
									<a href="/dagl/w/sysManage/personalInfoView" target="mainIframe" class="btn btn-default btn-flat">我&nbsp;的</a>
                                </div>
                                <div class="pull-right logout_btn">
									<a href="/dagl/w/logout" class="btn btn-default btn-flat">注&nbsp;销</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                      <!-- Control Sidebar Toggle Button -->
                </ul>
            </div>
			
		</nav>
</header>

	##修改资料收集模态框
	<div class="modal" id="messageUpdate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true" data-show="true">
        <div class="modal-dialog" style="width: 800px;">
            <div class="modal-content">
				##头部
    			<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel1">信息查看</h4>
                </div>
				##正文
				<div class="modal-body scroll" style="overflow: auto; min-height: 410px; max-height: 410px">
					<form class="form-horizontal" role="form">
						<input name="messageId" type="hidden"/>
    					<div class="form-group">
    						<label class="col-sm-3 control-label">消息类型</label>
    				    	<div class="col-sm-7">
    				        	<input name="type" class="form-control">
    				    	</div>
    				    </div>
    					<div class="form-group">
    						<label class="col-sm-3 control-label">发送者</label>
    				    	<div class="col-sm-7">
    				    		<input class="form-control" name="sendName">
    				    	</div>
    				    </div>
    				    <div class="form-group">
    						<label class="col-sm-3 control-label">发送时间</label>
    				    	<div class="col-sm-7">
    						    <input class="form-control"  name="sendTime">
    				    	</div>
    				    </div>
    				    <div class="form-group">
    						<label class="col-sm-3 control-label">消息内容</label>
    				    	<div class="col-sm-7">
    				    		<input type="textarea" class="form-control" name="content">
    				    	</div>
    				   </div>
                     </form>
                </div>
				##尾部
				<div class="modal-footer">
                    <button type="button" class="btn btn-primary dataUpdate">保存</button>
                    <button type="button" class="btn btn-default modalClose" data-dismiss="modal">关闭</button>
                </div>
			</div>
        </div>
	</div>
	
	##查看资料收集模态框
##JS
<script src="${rc.contextPath}/resources/js/web/global/header.js"></script>
<script type="text/javascript">
	$(function(){
		
		initMessage();
		
		
	});
	//跳转至我的信息
	function toPersonalInfo() {
		$(".toPersonalInfo").on("click",function() {
			window.localtion.href = Util.getRootPath() + "/w/sysManage/personalInfoView";
		});
	}
	function initMessage(){
		$.ajax({
    			url :  Util.getRootPath() + "/header/message",
    			type:'POST', //GET
    			async:false,
    			dataType:'json',
				data:{
					obj:'id'
				},
    			success:function(data,textStatus,jqXHR){
    				if(data.success){
    					if(data.datas.length>0){
						    var datas = data.datas;
							Date.prototype.format = function(format) {
                                var o = {
                                    "M+" : this.getMonth() + 1, // month
                                    "d+" : this.getDate(), // day
                                };
                                if (/(y+)/.test(format)) {
                                    format = format.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
                                }
                                for ( var k in o) {
                                    if (new RegExp("(" + k + ")").test(format)) {
                                        format = format.replace(RegExp.$1, RegExp.$1.length == 1 ? o[k] : ("00" + o[k]).substr(("" + o[k]).length));
                                    }
                                }
                                return format;
                            	};
							var localDate = new Date().format("yyyyMMdd");
							var html="";
							var cnt = 0;
    						for(var i=0;i<datas.length;i++){
								if(datas[i].endday <= localDate){
									html += "<li class='jdtx' id='" + datas[i].uuid + "'>";
                                    html += "   <a>";
                                    html += "       <h6 style='color:black;'>";     
									if(datas[i].tm.length > 15){ 
										html +=  datas[i].tm.substr(0,15) + " ..." ;
									}else{
										html +=  datas[i].tm;
									}
									html += "<button type='button' class='btn btn-primary btn-xs pull-right gb' uuid='" + datas[i].uuid + "' tablename='" + datas[i].tableName + "' onclick=''>关闭</button> </h6>";
									html += "   </a>";
                                    html += "</li>";
									cnt = cnt + 1;
								}
                            }
							if(cnt == 0){
                      			 $(".cnt-top").hide();
                  		    }else{
                    		     $(".cnt-top").show();
                   		    }
							$(".cnt").text(cnt);
							$("ul .dagl-msg").append(html);
    					}
    				}
    			},
    			error:function(ex) {
    				layer.alert("请求失败！", {  skin: 'layui-layer-lan',closeBtn: 0});
    			}
    		});
		setTimeout('initMessage()',6000000);
		
	 $("li.jdtx").on("click",function(){
	     $("#mainIframe").attr("dagl-location", "<i class='fa fa-list'></i> 鉴定提醒");
		 $("#mainIframe").attr("src", "/dagl/notice/jdtx");
		 
	 });
		
	 $("button.gb").on("click",function(event){
		var uuid = $(this).attr("uuid");
		$.ajax({
	            type: "POST",
	            url: Util.getRootPath() + "/header/getJdda",
	            dataType: 'json',
	            async: true,
				data:{
		      	  uuid : uuid,
				},
	            success: function(result) {
					var option = {};
					console.log(result);
					$("#" + uuid).remove();
					var recnt = parseInt($($(".cnt")[0]).text()) - 1;
					$(".cnt").text(recnt);
					if(recnt == 0){
						$(".cnt-top").hide();
                  	}else{
                    	$(".cnt-top").show();
                   	}
					
				},
	            error:function(XMLHttpRequest, textStatus, errorThrown){
	            	layer.msg("文件不存在");
	            }
	    	});
			event.stopPropagation();
     });
	}
	

			
	function readMessage(data){
		initMessage();
		var id = $.trim(data);
        layer.open({
            type: 2,
            title:"查看消息",
            area: ['500px', '300px'],
            fixed: false, //不固定
            maxmin: true,
            content: Util.getRootPath() + "/w/message/lookReceiveMessageView?id="+id,
        });
	
	}
	
</script>
