##iframe页面主体
<section class="content" id="content">
    <div class="row" style="margin-bottom:5px;">
      <div class="col-md-12">
        <small>年&emsp;&emsp;份:&emsp;从&nbsp;</small>
        <select id="from">
             #foreach($nd in $!{nds}) 
                <option value='$!{nd.lx}'>$!{nd.lxm}</option>
             #end
        </select>
        <small>到&nbsp;</small>
        <select id="to">
            #foreach($nd in $!{nds}) 
                <option value='$!{nd.lx}' #if($velocityCount==$nds.size()) selected #end>$!{nd.lxm}</option>
             #end
        </select>
        &nbsp;&nbsp;
      </div>
    </div>
    <div class="row" style="margin-bottom:5px;">
        <div class="col-md-12">
            <table id="ml">
                <tr>
                    <td><small>门&emsp;&emsp;类:&emsp;</small></td>
                    <td>
                        <button name='ml_all' class="btn btn-primary btn-xs active" data-toggle="button" aria-pressed="false">全部</button>
                        #foreach($ml in $!{mls})
                            <button name='$!{ml.lx}' class="btn btn-primary btn-xs" data-toggle="button" aria-pressed="false">$!{ml.lxm}</button>
                        #end
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
    
    <!--<div class="row" style="margin-bottom:5px;">
        <div class="col-md-12">
             <table id="bgqx">
                <tr>
                    <td><small>保管期限:&emsp;</small></td>
                    <td>
                        <button name='bgqx_all' class="btn btn-primary btn-xs active" data-toggle="button" aria-pressed="false">全部</button>
                        #foreach($bgqx in $!{bgqxs}) 
                        <button name='$!{bgqx.lx}' class="btn btn-primary btn-xs" data-toggle="button" aria-pressed="false">$!{bgqx.lxm}</button>
                        #end
                    </td>
                </tr>
            </table>
        </div>
    </div>-->
   <!--<div class="row" style="margin-bottom:5px;">
        <div class="col-md-12">
             <table id="mj">
                <tr>
                    <td><small>密&emsp;&emsp;集:&emsp;</small></td>
                    <td>
                        <button name='mj_all' class="btn btn-primary btn-xs active" data-toggle="button" aria-pressed="false">全部</button>
                        #foreach($mj in $!{mjs}) 
                        <button name='$!{mj.lx}' class="btn btn-primary btn-xs" data-toggle="button" aria-pressed="false">$!{mj.lxm}</button>
                        #end
                    </td>
                </tr>
            </table>
        </div>
    </div>-->
    
    <div class="row">
        <div class="col-md-1 pull-right">
            <button type="button" id="start" class="btn btn-block btn-info btn-sm">确认</button>
        </div>
         
    </div>
    <div class="row reportTitle" id="reportCaption" hidden>
        <div class="col-md-12 text-center">
            <h3 id="report_caption">####~####年度 档案-文件级 划控统计</h3>
        </div>
    </div>
    <div class="row reportContent" id="reportContent" hidden> 
        <div class="col-md-12">
            <div class="table-responsive" data-pattern="priority-columns">
                    <table cellspacing="0" id="report_table" class="table table-small-font table-bordered table-striped">
                        <thead id="report_header">
                        </thead>
                        <tbody id="report_body">
                        </tbody>
                        <tfoot id="report_foot">
                        </tfoot>
                    </table>
                </div>
        </div>
    </div>
    <div class="row reportPic" hidden>
        <div class="col-md-1 pull-right">
            <button type="button" id="print" class="btn btn-block btn-info btn-sm">打印</button>
        </div>
    </div>    
    <div class="row reportPic" style="margin-bottom:5px;" hidden>
        <div class="col-md-11 picarea">
            <div id="main" style="width:1100px;height:400px;"></div>
        </div>
    </div> 
    <div class="row reportPic" hidden>
        <div class="col-md-11 picarea">
            <div id="main2" style="width:1100px;height:400px;"></div>
        </div>
    </div>

</section>
     <script>
        var title = "";
        $(function(){
            $("#print").click(function(){
                 var reportTitle = document.getElementById("reportCaption").outerHTML;
                 var reportContent= document.getElementById("reportContent").outerHTML;
                 exportAsPDF(reportTitle + reportContent);
            });
            // 门类管理
            $("[name='ml_all']").click(function(){
                $("button.active", "#ml").not("[name='ml_all']").removeClass("active");
            });
            
            $("button", "#ml").not("[name='ml_all']").click(function(){
                $("[name='ml_all']").removeClass("active");
            });
            
            // 保管期限
            $("[name='bgqx_all']").click(function(){
                $("button.active", "#bgqx").not("[name='bgqx_all']").removeClass("active");
            });
            
            $("button", "#bgqx").not("[name='bgqx_all']").click(function(){
                $("[name='bgqx_all']").removeClass("active");
            });
            
            // 密集
            $("[name='mj_all']").click(function(){
                $("button.active", "#mj").not("[name='mj_all']").removeClass("active");
            });
            
            $("button", "#mj").not("[name='mj_all']").click(function(){
                $("[name='mj_all']").removeClass("active");
            });
            
            $("#start").click(function(){
                // 获得门类
                var index1 = null;
                var mls = [];
                var mlms = [];
                $("button.active", "#ml").each(function(){
                    mls.push($(this).attr("name"));
                    mlms.push($(this).text());
                });
                
                // 门类中文名
                var mllist = [];
                var mlmlist = [];
                
                // 保管期限
                var bgqxs = [];
                var bgqxms = [];
                
                var mjs = [];
                var mjms = [];
                $("button.active", "#mj").each(function(){
                    mjs.push($(this).attr("name"));
                    mjms.push($(this).text());
                });
                
                // 密集中文名
                var mjlist = [];
                var mjmlist = [];
                $("button", "#mj").not("[name='mj_all']").each(function(){
                    mjlist.push($(this).attr("name"));
                    mjmlist.push($(this).text());
                });
                
                $("button.active", "#bgqx").each(function(){
                    bgqxs.push($(this).attr("name"));
                    bgqxms.push($(this).text());
                });
                
                $("button", "#ml").not("[name='ml_all']").each(function(){
                    mllist.push($(this).attr("name"));
                    mlmlist.push($(this).text());
                });
                
                // 保管期限中文名
                var bgqxlist = [];
                var bgqxmlist = [];
                $("button", "#bgqx").not("[name='bgqx_all']").each(function(){
                    bgqxlist.push($(this).attr("name"));
                    bgqxmlist.push($(this).text());
                });
                
                // 年份
                var from = $("#from").val();
                var to = $("#to").val();
                var ndms = [];
                $("#to option").each(function(){
                   ndms.push($(this).text());             
                });
                var ndstart = ndms.indexOf(from);
                var ndend = ndms.indexOf(to);
                var nds = ndms.slice(ndstart, ndend + 1);
                //门类检查
                if(mls.length < 1){
                    layer.msg('请选择统计门类');
                // 年份检查
                }else{
                    $(".reportTitle").hide();
                    $(".reportContent").hide();
                    $(".reportPic").hide();
                    clearTable();
                    $.ajax({
                    	async:true,
						beforeSend:function(){
              			index1 = layer.load(1, {shade: [0.1,'#FFFFFF']});
           			    },
                        type: "POST",
                        url: Util.getRootPath() + "/w/tj/nd/report",
                        data:{"from": from, "to": to, "mls": mls},
                        success:function(result){
                            $(".reportTitle").show();
                            $(".reportContent").show();
                            $(".reportPic").show();
                            // 报表数据
                           var report = result.report;
                           title = "";
                           var colcnt = 0;
                           if(from == to){
                                title = from;
                           }else{
                                title= from + "~" +　to ;
                           }
                           
                           if(mls.length==1 && mls[0] != "ml_all"){
                                title = title + " " + mlms[0];
                           }
                           
                           title = title + " 年度统计";
                           //报表标题
                           $("#report_caption").text(title);
                           
                           ####### 统计报表表头>>> #########
                           var header = "<tr>"
                           
                           header = header + "<td>年度</td>"
                           colcnt = colcnt + 1;
                           
                           header = header + "<td>数量</td>";
                           header = header + "<td>占比</td>"
                           colcnt = colcnt + 2;
                           
                           header = header + "</tr>"
                           $("#report_header").append(header);
                           ####### <<<统计报表表头  #########
                           
                           
                           ####### 统计报表数据>>>  #########
                           if(report.length == 0){
                                var content = "<tr><td colspan='" + colcnt + "' >不存在统计数据</td></tr>"
                                $("#report_body").append(content);
                           }else{
                                var total = getSum(report);
                                for(var idx=0; idx < report.length; idx++){
                                   var row = "<tr>";
                                   // 年度
                                   row = row + "<td>" + report[idx].nd + "</td>";
                                   row = row + "<td>" + report[idx].cnt + "</td>";
                                   row = row + "<td>" + Math.round(report[idx].cnt/total * 10000)/100 + "%" + "</td>";
                                   row = row + "</tr>";
                                   $("#report_body").append(row);
                                }
                               
                           }
                           ####### <<<统计报表数据  #########
                           if(mls.length==1 && mls[0] == "ml_all"){
                                mlms = mlmlist;
                           }
                           picdata = getData(report, ndms);

                           drawZZ("main", title, nds, picdata);
                           drawPie("main2", title, nds, getPieData(report));
                        },
                        error:function(error){
                        
                        },
                        complete:function(){
                        layer.close(index1);
                        }
                        
                      });
                    
                }
                
            });
        });
        
        function autoRowSpan(tableId,row,col)  
        {  
            var tb = document.getElementById(tableId); 
            var lastValue="";  
            var value="";  
            var pos=1;
            for(var i=row;i<tb.rows.length;i++)  
            {  
                try{
                    value = tb.rows[i].cells[col].innerText;
                }catch(e){
                
                }  
                if(lastValue == value)  
                {   
                        try{
                            if(tb.rows[i].cells[col-1].style.display == "none"){
                                tb.rows[i].cells[col].style.display = "none";  
                                tb.rows[i-pos].cells[col].rowSpan = tb.rows[i-pos].cells[col].rowSpan + 1;
                                pos++
                            }
                        }catch(e){
                                tb.rows[i].cells[col].style.display = "none";  
                                tb.rows[i-pos].cells[col].rowSpan = tb.rows[i-pos].cells[col].rowSpan + 1;
                                pos++
                        }
                }else{  
                    lastValue = value;  
                    pos=1;
                }  
            }   
        }
        
        function clearTable(){
            $("#report_header").empty();
            $("#report_body").empty();
            $("#report_foot").empty();
        }
        
        
        function drawZZ(picid, title, x, y){
            var app = echarts.init(document.getElementById(picid));
            app.title = '坐标轴刻度与标签对齐';
            option = {
                 title: {
                    text: title,
                },
                color: ['#3398DB'],
                tooltip : {
                    trigger: 'axis',
                    axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                        type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    x:1000,
                    y:10,  
                    show : true,
                    feature : {
                    mark : {show: true},
                    magicType : {show: true, type: ['line', 'bar']},
                    saveAsImage : {show: true}
                    }
                },
                xAxis : [
                    {
                        type : 'category',
                        data : x,
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis : [
                    {
                        type : 'value'
                    }
                ],
                series : y
            };
            app.setOption(option);
        }
        function drawPie(picid, title, x, y){
            var app = echarts.init(document.getElementById(picid));
            app.title = '坐标轴刻度与标签对齐';
            option = {
            title : {
                text: title,
                x: 'center',
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient : 'vertical',
                x : 'left',
                data: x
            },
            toolbox: {
                x:1000,
                y:10, 
                show : true,
                feature : {
                    mark : {show: true},
                    saveAsImage : {show: true}
                }
            },
            calculable : true,
            series : [
                {
                    name:'访问来源',
                    type:'pie',
                    radius : '55%',
                    center: ['50%', '60%'],
                    data:y
                }
            ]
        };
            app.setOption(option);
        }
        function getSum(datas){
            var sum = 0;
            for(var i=0; i<datas.length;i++) {
                sum = sum + datas[i].cnt;
            }
            return sum;
        }
        
        function getData(datas, mlms){
            var result = {};
            var das = new Array(mlms.length);
            das.fill(0);
            for(var i=0; i<datas.length;i++) {
               var no = mlms.indexOf(datas[i].nd);
               if(no != -1) das[no] = datas[i].cnt;
            }
            result.name = "数量";
            result.data = das;
            result.type = 'bar';
            result.barWidth = '60%';
            return result;
        }
        function getPieData(datas){
            var result = [];
            for(var i=0; i<datas.length;i++) {
                var temp = {};
                temp.name = datas[i].nd;
                temp.value = datas[i].cnt;
                result.push(temp);
            }
            return result;
        }
     </script>
     <script> 
function svg2canvas (targetElem) {
  var nodesToRecover = [];
  var nodesToRemove = [];
 
  var svgElem = targetElem.find('svg');
 
  svgElem.each(function(index, node) {
    var parentNode = node.parentNode;
     
    var svg = node.outerHTML;
 
    var canvas = document.createElement('canvas');
     
    canvg(canvas, svg);
     
    nodesToRecover.push({
      parent: parentNode,
      child: node
    });
    parentNode.removeChild(node);
     
    nodesToRemove.push({
      parent: parentNode,
      child: canvas
    });
     
    parentNode.appendChild(canvas);
  });
   
}
function openWithIframe(html){
  var iframe = document.createElement('iframe');
  iframe.setAttribute("id", "myFrmame");
   
  var $iframe = $(iframe);
  $('body').append(iframe);
  var ifDoc = iframe.contentWindow.document;
   
　　//这里做是将报表使用到的css重新写入到iframe中，根据自身的需要
  var style = '<link rel="stylesheet" href="${rc.contextPath}/resources/plugins/rwdtable/css/rwd-table.css">';
  style = style + '<link href="${rc.contextPath}/resources/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">'
  style= style + '<link rel="stylesheet" href="${rc.contextPath}/resources/dist/css/AdminLTE.css">'
  style= style + '<link rel="stylesheet" href="${rc.contextPath}/resources/dist/css/skins/_all-skins.min.css">'
  html = "<!DOCTYPE html><html><head>"+style+"</head><body>"+html+"</body></html>"
  ifDoc.open();    
  ifDoc.write(html);    
  ifDoc.close();
  var fbody = $iframe.contents().find("body");
  fbody.find(".reportTitle").css("width", "1118px");
  fbody.find(".reportContent").css("width", "1118px");
  return fbody;
}
//导出pdf  
//导出pdf
function exportAsPDF(Html){
  //得到要导出pdf的html根节点  
  var fbody = openWithIframe(Html);
  svg2canvas(fbody);
  //html2canvas官网的标准方法
  html2canvas(fbody, {
    onrendered: function(canvas) {
       //通过html2canvas将html渲染成canvas，然后获取图片数据
       var imgData = canvas.toDataURL('image/jpeg');
       //初始化pdf，设置相应格式
       var doc = new jsPDF("p", "mm", "a4");
       //这里设置的是a4纸张尺寸(210,297)
       doc.addImage(imgData, 'JPEG', 4, 0, 206, canvas.height/3.3);
       //输出保存命名为content的pdf
       
       // 下载后的问题名
        var filename = title + '.pdf';
        doc.save(filename);
        // saveFile(imgData,filename);
       $('#myFrmame').remove(); //最后将iframe删除
    },
    background:"#fff", //这里给生成的图片默认背景，不然的话，如果你的html根节点没有设置背景的话，会用黑色填充。
    allowTaint: true  //避免一些不识别的图片干扰，默认为false，遇到不识别的图片干扰则会停止处理html2canvas
  });
   
}; 

/**
 * 获取mimeType
 * @param  {String} type the old mime-type
 * @return the new mime-type
 */
var _fixType = function(type) {
    type = type.toLowerCase().replace(/jpg/i, 'jpeg');
    var r = type.match(/png|jpeg|bmp|gif/)[0];
    return 'image/' + r;
};
   


/**
 * 在本地进行文件保存
 * @param  {String} data     要保存到本地的图片数据
 * @param  {String} filename 文件名
 */
var saveFile = function(data, filename){
    var save_link = document.createElementNS('http://www.w3.org/1999/xhtml', 'a');
    save_link.href = data;
    save_link.download = filename;
   
    var event = document.createEvent('MouseEvents');
    event.initMouseEvent('click', true, false, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
    save_link.dispatchEvent(event);
}; 
</script>
     <script src="${rc.contextPath}/resources/plugins/jsPdf/jspdf.min.js"></script>
     <script src="${rc.contextPath}/resources/plugins/jsPdf/html2canvas.min.js"></script>


    
