@CHARSET "UTF-8";
.site-block{
	padding: 20px;
}

.site-text{
	position: relative;
}

*{
	box-sizing:inherit;
	-moz-box-sizing:inherit; /* Firefox */
	-webkit-box-sizing:inherit; /* Safari */
}
.nullClazz {
	border:1px solid red;
}

th.check-column{
	width : 3%;
}
