<section class="content">
    <div class="box box-default">
      <div class="box-body">
        #parse("web/table/tools.vm")
        ##列表
    	<div id="tableDataCollect" class="dt-grid-container"></div>
    	##分页栏
    	<div id="pagingDataCollect" class="dt-grid-toolbar-container"></div>
      </div>
    </div>
    ##CSS
    ##Javascript
    <script src="${rc.contextPath}/resources/js/web/table/list.js"></script>
    <input type="hidden" id="tableName" value="${tableName}" />
</section>