<!DOCTYPE html>
<html>
<head>
	<link href="${rc.contextPath}/resources/plugins/layer/css/layui.css" rel="stylesheet">
	<link href="${rc.contextPath}/resources/css/web/zlzl/zlsj/importView.css" rel="stylesheet">
	<link href="${rc.contextPath}/resources/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<span class="attention">注:请下载最新的模版,请编辑数据时设置文本格式后上传！</span>
    <div id="impapp" class="site-text site-block">
    		<form class="layui-form">
				<input type="hidden" name="tablename" value=$!{tablename}>
                <div class="layui-form-item yw">
                    <label class="layui-form-label">导入</label>
                    <div class="layui-input-block">
						<input type="file" name="importAttachment" id="importAttachment"  multiple style="display: none;">
						<label class="uploadFileBtn layui-input" for="importAttachment">
							<i class="fa fa-cloud"></i><span>点击上传导入模版</span>
						</label>	
					 </div>
                </div>
        		<div class="layui-form-item yw">
        			<div class="layui-input-block">
        				<div class="add-file-div"></div>
        			</div>                   	        	
        		</div>
				
				<div class="layui-form-item yw">
        			<div class="layui-input-block">
        				<a class="layui-btn layui-btn-default" id="import">导入</a>
        				<a class="layui-btn layui-btn-primary" id="close">关闭</a>
        			</div>
        		</div>
			</form>
    </div>
</body>
<script src="${rc.contextPath}/resources/plugins/layer/layui.js" type="text/javascript"></script>
<script src="${rc.contextPath}/resources/js/web/zlzl/zlsj/importView.js"></script>
</html>
	
