
##iframe页面主体
<section class="content">
   <form method="post" action="searchIndex">
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <input type="text"  id="key" name="key" class="form-control" value="$!{key}">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-info btn-flat">全文搜索</button>
                </span>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
              <li role="presentation" id="wj" class="active"><a href="#">文件</a></li>
              <li role="presentation" id="da"><a href="#">档案</a></li>
            </ul>
        </div>
    </div>
    
 <!--  	 <div class="layui-form-item">
     <label class="layui-form-label">关键词</label>
	    <div class="layui-input-block" ">
	      <input type="text" style="width:300px" id="key" name="key" required  lay-verify="required" placeholder="请输入检索关键词" autocomplete="off" class="layui-input" value="$!{key}">
	    </div>
     </div>
     
     <div class="layui-form-item">
	    <div class="layui-input-block">
	      <button class="layui-btn submit" lay-submit lay-filter="formDemo">检索</button>
	      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
	    </div>
     </div> -->
     
   </form>
   <div id="content_left">
   	#foreach($result in $!{results})
   		<div class="result c_container" style="width:60%;margin-top:50px;">
   			<a class="preview" id="$!{result.fileId}"><span style="border-bottom:2px solid blue;margin-top:10px;color:blue;cursor:pointer;">文件标题：$!{result.title}</span></a>
   			<div class="abstract" style="margin-top:10px;">
   				文件内容摘要：$!{result.content}...
   			</div>
   			#if($!{result.dh})
   			##档案类型、档号、题名、责任者、成文日期保管期限
   			<div class="path" style="margin-top:10px;">
   			  <table class="dt-grid table table-bordered table-hover table-responsive">
   			      <thead>
   			          <tr>
   			              #if($!{result.dalx})
   			                  <th>档案类型</th>
   			              #end
   			              #if($!{result.dh})
   			                  <th>档号</th>
   			              #end
   			              #if($!{result.tm})
                              <th>题名</th>
                          #end
                          #if($!{result.zrz})
                              <th>责任者</th>
                          #end
                          #if($!{result.cwrq})
                              <th>成文日期</th>
                          #end
                          #if($!{result.bgqx})
                              <th>保管期限</th>
                          #end
   			          </tr>
   			      </thead>
   			      <tbody>
   			          <tr>
   			              #if($!{result.dalx})
                              <td>$!{result.dalx}</td>
                          #end
                          #if($!{result.dh})
                              <td>$!{result.dh}</td>
                          #end
                          #if($!{result.tm})
                              <td>$!{result.tm}</td>
                          #end
                          #if($!{result.zrz})
                              <td>$!{result.zrz}</td>
                          #end
                          #if($!{result.cwrq})
                              <td>$!{result.cwrq}</td>
                          #end
                          #if($!{result.bgqx})
                              <td>$!{result.bgqx}</td>
                          #end
   			          </tr>
   			      <tbody>
   			  </table>
   			</div>
   			#end
   			<div class="fileCreateTime" style="margin-top:10px;">
   				文件上传时间：<span style="color:gray">$!{result.fileCreateTime}</span>
   			</div>
   		</div>
	#end
   </div>
   
   <div id="content_da">
    #foreach($result in $!{da_results})
        <div class="result c_container" style="width:60%;margin-top:50px;">
            
            #if($!{result.dh})
            ##档案类型、档号、题名、责任者、成文日期保管期限
            <div class="path" style="margin-top:10px;">
              <table class="dt-grid table table-bordered table-hover table-responsive">
                  <thead>
                      <tr>
                          #if($!{result.dalx})
                              <th>档案类型</th>
                          #end
                          #if($!{result.dh})
                              <th>档号</th>
                          #end
                          #if($!{result.tm})
                              <th>题名</th>
                          #end
                          #if($!{result.zrz})
                              <th>责任者</th>
                          #end
                          #if($!{result.cwrq})
                              <th>成文日期</th>
                          #end
                          #if($!{result.bgqx})
                              <th>保管期限</th>
                          #end
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          #if($!{result.dalx})
                              <td>$!{result.dalx}</td>
                          #end
                          #if($!{result.dh})
                              <td>$!{result.dh}</td>
                          #end
                          #if($!{result.tm})
                              <td>$!{result.tm}</td>
                          #end
                          #if($!{result.zrz})
                              <td>$!{result.zrz}</td>
                          #end
                          #if($!{result.cwrq})
                              <td>$!{result.cwrq}</td>
                          #end
                          #if($!{result.bgqx})
                              <td>$!{result.bgqx}</td>
                          #end
                      </tr>
                  <tbody>
              </table>
            </div>
            #end
            #if($!{result.dm})
            <div class="path" style="margin-top:10px;">
              <table class="dt-grid table table-bordered table-hover table-responsive">
                  <thead><tr><th>档案类型</th><th>档号</th></tr></thead>
                  <tbody><tr><td>$!{result.dm}</td><td>$!{result.dh}</td></tr><tbody>
              </table>
            </div>
            #end
            <div class="fileCreateTime" style="margin-top:10px;">
              <small> 更新时间：<span style="color:gray">$!{result.fileCreateTime}</span></small>
            </div>
        </div>
    #end
   </div>
   
</section>
<script>
$(function(){
   $("#content_da").hide();
   $("form").submit(function(){
   		var load = layer.load(1, {shade: [0.1,'#FFFFFF']});
        var keyword = $("#key").val();
        if($.trim(keyword)==""){
            window.location = Util.getRootPath() + "/w/fuzzyQuery/init";
            return false;
        }
		layer.close(load);
   });
   //点击预览内容
   $(".preview").on("click",function(){
  	   var index = layer.load(1, {shade: [0.1,'#FFFFFF']});
	   var fileid = $(this).attr("id");
	   var url = "";
	   var filename = '文件预览';
	   var options = {};
   		$.ajax({
        type: "GET",
        url: Util.getRootPath() + "/w/preview/" + fileid,
        dataType: 'json',
        async: true,	
        success: function(result) {
			
			var option = {};
			option.title = filename;
			console.log(result);
			
			layer.close(index);
			//视频格式转成flv
			if(result.type == 'flv'){
				layer.close(index);
				option.url = Util.getRootPath() + "/w/preview/video/" + filename + "/" + result.cache;
				window.parent.showModal(option);
			}else if(result.type == 'mp3'){
				parent.layer.open({
	                type: 2,
	  			  	title:filename,
	                area: ['450px', '200px'],
	                fixed: false, //不固定
	                maxmin: true,
	                content: Util.getRootPath() + "/w/preview/viewAudio/" + fileid,
	              });
			}else if(result.type == 'others'){
				layer.confirm('其他格式的文件不能预览,是否需要下载?', {
					  skin: 'layui-layer-lan',
					  btn: ['是','否'] //按钮
				}, function(index){
					layer.close(index);
					window.location.href = Util.getRootPath() + "/w/common/downLoadAttach?filePath="+result.cache+"&fileName="+result.name;
				},function(index){
					 layer.close(index);
				});
				
			}else if(result.type == 'pdf'){
					parent.layer.open({
			              type: 2,
						  title:filename,
			              area: ['700px', '530px'],
			              fixed: false, //不固定
			              maxmin: true,
			              content: Util.getRootPath()+"/resources/plugins/pdfJs/generic/web/viewer.html?file="+Util.getRootPath()+"/w/preview/displayPDF/"+fileid,
			        });
				}else{
				//图片 word excel txt pdf
				layer.close(index);
				option.url = result.cache;
				window.parent.showModal(option);
			}
		},
        error:function(XMLHttpRequest, textStatus, errorThrown){
        	layer.close(index);
        	layer.msg("文件不存在或被删除");
        }
	});
   });
   
   // tab选择
   $('[role="presentation"]').click(function(){
        $('li.active').removeClass("active");
        $(this).addClass("active");
        if($(this).attr("id") == "da"){
            $("#content_left").hide();
            $("#content_da").show();
        }else{
            $("#content_da").hide();
            $("#content_left").show();
        }
   });  
        
});
	
	
</script>

	
